logging:
  level:
    root: INFO
    org.springframework.cloud: INFO
    org.springframework.web: INFO

management:
  endpoints:
    web:
      exposure:
        include: health,info,env,configprops,metrics
  endpoint:
    health:
      probes:
        enabled: true

spring:
  cloud:
    config:
      allowOverride: true
      overrideSystemProperties: false

